div#container
{
width: 960px;
position: relative;
margin: 0 auto;
text-align: center;
}
body
{
background-color: #505050;
color: #000000;
font-family: Arial;
font-size: 13px;
margin: 0;
text-align: center;
} 
#price1
{
 bottom: 0px;
 color: yellow;
 left: 233px;
 position: absolute;
 text-decoration: none;
 width: 100px;
}
#price2
{
 bottom: 0px;
 color: yellow;
 left: 233px;
 position: absolute;
 text-decoration: none;
 width: 100px;
}
#price3
{
 bottom: 0px;
 color: yellow;
 left: 233px;
 position: absolute;
 text-decoration: none;
 width: 100px;
}
.cartGraphic
{
left: -30px;
position: relative;
top: 0.5px;
width: 100px;
}
.cartGraphic2
{
 left: -130px;
 position: relative;
 top: 40px;
 width: 100px;
}
.cartYellow
{

}
#cart1
{
bottom: 5px;
    color: black;
    position: absolute;
    text-align: left;
}
#cart2
{
color: black;
    left: 200px;
    position: absolute;
    top: 25px;
}
.popupmodal
{
    background: none repeat scroll 0 0 black;
    border-radius: 5px;
    color: black;
    height: 30px;
    left: 765px;
    padding: 17px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 90px;
    width: 200px;
    z-index: 1000;
}
#buttonPopUp
{
    background-color: yellow;
    z-index: 1000;
}