#header
{
background-color: #000000;
}
#wb_CssMenu1
{
border: 0px #C0C0C0 solid;
background-color: transparent;
}
#wb_CssMenu1 ul
{
list-style-type: none;
margin: 0;
padding: 0;
position: relative;
display: inline-block;
}
#wb_CssMenu1 li
{
float: left;
margin: 0;
padding: 0px 0px 0px 0px;
width: 80px;
}
#wb_CssMenu1 a
{
display: block;
float: left;
color: #D3D3D3;
border: 0px #C0C0C0 solid;
background-color: #000000;
background-image: none;
font-family: "MS Sans Serif";
font-size: 13px;
font-weight: normal;
font-style: normal;
text-decoration: none;
width: 70px;
height: 25px;
padding: 0px 5px 0px 5px;
vertical-align: middle;
line-height: 25px;
text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
color: #FFFF00;
background-color: #000000;
background-image: none;
border: 0px #C0C0C0 solid;
}
#wb_CssMenu1 li.firstmain
{
padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
padding-right: 0px;
}
#wb_CssMenu1 br
{
clear: both;
font-size: 1px;
height: 0;
line-height: 0;
}
#Layer2
{
background-color: #000000;
}
#index_order
{
background-color: #000000;
}
#create
{
border: 0px #000000 solid;
}
#capture
{
border: 0px #000000 solid;
}
#capitalize
{
border: 0px #000000 solid;
}
#Image3
{
border: 0px #000000 solid;
}
#Image4
{
border: 0px #000000 solid;
}
#Image5
{
border: 0px #000000 solid;
}
#wb_package_1_desc
{
background-color: transparent;
border: 0px #000000 solid;
padding: 0;
text-align: justify;
}
#wb_package_1_desc div
{
text-align: justify;
}
#wb_package_2_desc
{
background-color: transparent;
border: 0px #000000 solid;
padding: 0;
text-align: justify;
}
#wb_package_2_desc div
{
text-align: justify;
}
#wb_package_3_desc
{
background-color: transparent;
border: 0px #000000 solid;
padding: 0;
text-align: justify;
}
#wb_package_3_desc div
{
text-align: justify;
}
#wb_Text1
{
background-color: transparent;
border: 0px #000000 solid;
padding: 0;
text-align: left;
}
#wb_Text1 div
{
text-align: left;
}
#Text2
{
border: 0px #000000 solid;
}
#Image1
{
border: 0px #000000 solid;
}
#wb_Text3
{
background-color: transparent;
border: 0px #000000 solid;
padding: 0;
text-align: justify;
}
#wb_Text3 div
{
text-align: justify;
}
#Text4
{
border: 0px #000000 solid;
}
#Image2
{
border: 0px #000000 solid;
}
#wb_Text5
{
background-color: transparent;
border: 0px #000000 solid;
padding: 0;
text-align: justify;
}
#wb_Text5 div
{
text-align: justify;
}
#Layer1
{
background-color: #000000;
}
#wb_Text6
{
background-color: transparent;
border: 0px #000000 solid;
padding: 0;
text-align: left;
}
#wb_Text6 div
{
text-align: left;
}
#Line1
{
color: #505050;
background-color: #505050;
border-width: 0;
}
#wb_Text7
{
background-color: transparent;
border: 0px #000000 solid;
padding: 0;
text-align: left;
}
#wb_Text7 div
{
text-align: left;
}
#wb_Text8
{
background-color: transparent;
border: 0px #000000 solid;
padding: 0;
text-align: left;
}
#wb_Text8 div
{
text-align: left;
}
#wb_Text9
{
background-color: transparent;
border: 0px #000000 solid;
padding: 0;
text-align: left;
}
#wb_Text9 div
{
text-align: left;
}
#wb_copyright
{
background-color: transparent;
border: 0px #000000 solid;
padding: 0;
text-align: left;
}
#wb_copyright div
{
text-align: left;
}
#jmsl_logo
{
border: 0px #000000 solid;
}
#RollOver1 a
{
display: block;
position: relative;
}
#RollOver1 a img
{
position: absolute;
z-index: 1;
border-width: 0;
}
#RollOver1 span
{
display: block;
height: 50px;
width: 160px;
position: absolute;
z-index: 2;
} 