.simpleCart_checkout
{
    color: yellow;
}
.simpleCart_remove
{
    color: yellow;
    float: left;
    font-size: 16px;
    margin-top: 20px;
    position: absolute;
    text-decoration: none;


}
.item-name{
	clear: both;
    color: yellow;
    float: left;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
    width: 150px;
    
}
.headrow
{
    background: none repeat scroll 0 0 black;
    border-radius: 5px;
    display: block;
    float: left;
    position: relative;
    width: 100%;
}
.headerRow{
	background: none repeat scroll 0 0 red;
    clear: both;
    display: none;
    float: left;
    text-align: center;
    width: 100%;
}
.item-price{
    color: yellow;
    display: block;
    float: left;
    font-size: 16px;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    position: relative;
}
.item-quantity{
    color: yellow;
    display: inline;
    float: left;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    width: 150px;
}
.item-total{
    color: yellow;
    display: inline;
    float: left;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    width: 180px;
    position: relative;
}
.item-decrement{
display: none;
    float: left;
}
.item-increment{
display: none;
    float: left;
}
.item-remove{
    display: inline;
    float: left;
    position: relative;
    margin-left: -20px;
}

#hname{
    clear: both;
    color: yellow;
    float: left;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 17px;
    width: 150px;
}
#hprice{
    color: yellow;
    display: block;
    float: left;
    font-size: 16px;
    margin-top: 17px;
    width: 200px;
    text-align: center;
    position: relative;
}
#hquantity{
    color: yellow;
    display: inline;
    float: left;
    font-size: 16px;
    margin-top: 17px;
    text-align: center;
    width: 150px;
}
#htotal{
    color: yellow;
    display: inline;
    float: left;
    font-size: 16px;
    margin-top: 17px;
    text-align: center;
    width: 180px;
    position: relative;
}
#item-checkout{
    clear: both;
    margin-top: 17px;
    padding: 30px;
    position: relative;
    
}
#cartItems{
	bottom: 25px;
    margin-left: 20px;
    right: 40px;
    font-family: Impact, 
    Haettenschweiler, 
    "Franklin Gothic Bold", 
    Charcoal, 
    "Helvetica Inserat", 
    "Bitstream Vera Sans Bold", 
    "Arial Black", 
    sans serif;
}
#checkOutLogo
{
    background: none repeat scroll 0 0 black;
    float: left;
    left: -30px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: -20px;
    width: 880px;
}
#totalCheckout
{
    background: none repeat scroll 0 0 black;
    border-radius: 5px;
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin-top: 20px;
}
#cartTotalVisual
{
    color: yellow;
    font-size: 16px;
    left: 450px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 120px;
}